/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Marcellus&family=Oleo+Script:wght@400;700&display=swap');

/* Tailwind CSS */
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

/* Global HTML & Body styles */
html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

/* ============================== */
/* Sidebar scrollbar hide styles  */
/* ============================== */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
